<div [@routerTransition] class="poll-component">
    <div class="m-subheader">
        <div class="kt-subheader kt-grid__item container">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Polls")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("PollsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<!-- <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button> -->
                <button *ngIf="isGranted('Pages.Polls.Create')" (click)="createPoll()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewPoll")}}</button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="">
            <div class="kt-portlet__body">

				<form class="horizontal-form container" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPolls()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="TitleFilter">{{l("Title")}}</label>
									<input type="text" class="form-control" id="TitleFilter" name="titleFilter" [(ngModel)]="titleFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="Option1Filter">{{l("Option1")}}</label>
									<input type="text" class="form-control" id="Option1Filter" name="option1Filter" [(ngModel)]="option1Filter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="Option2Filter">{{l("Option2")}}</label>
									<input type="text" class="form-control" id="Option2Filter" name="option2Filter" [(ngModel)]="option2Filter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="Option3Filter">{{l("Option3")}}</label>
									<input type="text" class="form-control" id="Option3Filter" name="option3Filter" [(ngModel)]="option3Filter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="Option4Filter">{{l("Option4")}}</label>
									<input type="text" class="form-control" id="Option4Filter" name="option4Filter" [(ngModel)]="option4Filter">
								</div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getPolls($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <!-- <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Polls.Edit', 'Pages.Polls.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="title">
                                        {{l('Title')}}
                                        <p-sortIcon field="poll.title"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="option1">
                                        {{l('Option1')}}
                                        <p-sortIcon field="poll.option1"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="option2">
                                        {{l('Option2')}}
                                        <p-sortIcon field="poll.option2"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="option3">
                                        {{l('Option3')}}
                                        <p-sortIcon field="poll.option3"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="option4">
                                        {{l('Option4')}}
                                        <p-sortIcon field="poll.option4"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                            -->
							<ng-template pTemplate="body" let-record="$implicit">
                              
                                <div class="kt-content container poll-card">
                                    <div class="kt-portlet kt-portlet--mobile">
                                        <div class="kt-portlet__body">
                                            <div class="row">
                                                <div class="col-12"><img alt="Pic" class="header-profile-picture m--img-rounded m--marginless m--img-centered" src="/assets/common/images/default-profile-picture.png" style=""> 
                                                    &nbsp; &nbsp; <span class="m-section__sub"> 
                                                        <b>{{record?.userName}}</b> &nbsp; <label style="font-size: 13px; opacity: 0.6;">created a poll</label> </span>
                                                        <button class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply" (click)="createDirectMessage(record?.poll.userId)" id="SendChatMessageButton" type="button" style="text-align: right;float: right;">Message</button>
                                                    
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="poll-heading">
                                                        {{record?.poll?.title}}
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="row" style="padding-left: 60px;padding-top: 12px;">
                                                <div class="col-12" *ngIf="record?.poll?.option1"> 
                                                <label class="btn btn-secondary active w-50 text-left" [ngClass]="{'active': record?.poll?.checkedOption ==  1}" (click)="checkPollEvent(record,record?.poll?.option1,1)" >
                                                    <input type="radio"
                                                           name="SalesSummaryDateInterval+{{record?.poll?.id}}"
                                                           value="appSalesSummaryDateInterval.Daily">
                                                    {{record?.poll?.option1}}
                                                </label> 
                                                &nbsp; &nbsp;<b>{{record?.poll?.count1}} votes</b> 
                                            </div>
                                            <div class="col-12" *ngIf="record?.poll?.option2" >
                                                <label class="btn btn-secondary w-50 text-left" [ngClass]="{'active': record?.poll?.checkedOption ==  2}" (click)="checkPollEvent(record,record?.poll?.option2,2)" >
                                                    <input type="radio"
                                                    name="SalesSummaryDateInterval+{{record?.poll?.id}}"
                                                           value="appSalesSummaryDateInterval.Weekly">
                                                    {{record?.poll?.option2}}
                                                </label>
                                                &nbsp; &nbsp;<b>{{record?.poll?.count2}} votes</b> 
                                            </div>

                                            <div class="col-12" *ngIf="record?.poll?.option3">
                                                <label class="btn btn-secondary w-50 text-left" [ngClass]="{'active': record?.poll?.checkedOption ==  3}" (click)="checkPollEvent(record,record?.poll?.option3,3)" >
                                                    <input type="radio"
                                                    name="SalesSummaryDateInterval+{{record?.poll?.id}}"
                                                           value="appSalesSummaryDateInterval.Monthly">
                                                    {{record?.poll?.option3}}
                                                </label>
                                                &nbsp; &nbsp;<b>{{record?.poll?.count3}} votes</b> 
                                            </div>

                                            <div class="col-12" *ngIf="record?.poll?.option4">
                                                <label class="btn btn-secondary w-50 text-left" [ngClass]="{'active': record?.poll?.checkedOption == 4}" (click)="checkPollEvent(record,record?.poll?.option4,4)">
                                                    <input type="radio"
                                                           name="SalesSummaryDateInterval+{{record?.poll?.id}}"
                                                           value="appSalesSummaryDateInterval.Monthly">
                                                    {{record?.poll?.option4}}
                                                </label>
                                                &nbsp; &nbsp;<b>{{record?.poll?.count4}} votes</b> 
                                            </div>
 
                                            </div>
                                            <div class="kt-chat__input container " id="ChatMessageWrapper"><div class="kt-chat__editor  col-6" style="padding-left: 50px;">
                                            <textarea class="kt-messenger__forkt-input col-10" id="ChatMessage" maxlength="4096" name="message" 
                                             placeholder="Write a public comment" required="" [(ngModel)]="message" type="text" style="width: 100%;"></textarea>                                            
                                            
                                             <button class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply" (click)="sendMessage(record?.poll.id)" id="SendChatMessageButton" type="button" style="text-align: right;float: right;">Send</button></div></div>
                                            </div> 
                                            <div *ngIf="comments?.length>0 && pollId==record?.poll?.id">
                                                <div class="row" style="padding-left: 90px;margin-top: 20px;" *ngFor="let item of comments" >
                                                
                                                    <div class="col-6" style="background-color: #f6f6f9;margin-top: 20px;border-radius: 20px;" ><img class="header-profile-picture m--img-rounded m--marginless m--img-centered" alt="Pic" src="/assets/common/images/default-profile-picture.png" style=""> &nbsp; &nbsp; <span class="m-section__sub"><b class="ng-tns-c19-1">{{item?.userName}}</b> &nbsp; <label class="ng-tns-c19-1" style="font-size: 13px;">{{item?.comment?.text}}</label></span></div>                                            
                                                </div>
                                            </div>
                                           
                                            <div class="row" style="padding-left: 90px;margin-top: 32px; margin-bottom: 32px;color: blue;"  (click)="getComments(record?.poll?.id)">
                                               <a>View Comments</a> 
                                            </div>
                                            


                                            </div> 
                                        </div>
                                        

                                <!-- <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Polls.Edit', 'Pages.Polls.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewPollModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Polls.Edit')"
														(click)="createOrEditPollModal.show(record.poll.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Polls.Delete')"
														(click)="deletePoll(record.poll)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Title')}}</span>
											{{record.poll.title}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Option1')}}</span>
											{{record.poll.option1}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Option2')}}</span>
											{{record.poll.option2}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Option3')}}</span>
											{{record.poll.option3}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Option4')}}</span>
											{{record.poll.option4}}
										</td>

                                </tr> -->
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getPolls($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditPollModal #createOrEditPollModal (modalSave)="getPolls()"></createOrEditPollModal>
    <viewPollModal #viewPollModal></viewPollModal>
    <createOrEditDirectMessageModal #createOrEditDirectMessageModal ></createOrEditDirectMessageModal>
    
</div>